    <!-- include  the head for page -->
    <%- include('layout/head'); -%>
    <a href="#" id="welcome">Welcome Admin!</a>
<body>
     <!-- include the header for page -->   
    <%- include('layout/header'); -%>
     <!-- include the Sub Navigation menu for page after login -->   
    <%- include('layout/subNav'); -%>   
    <main>
        <!-- display the success message -->
        <p>You have successfully Edited the page</p>
    </main>
</body>
<!-- include the footer -->
<%- include('layout/footer'); -%>