<!-- Navigation menu after the login -->
<nav id="nav_menu">
    <ul>
        <li>
            <a href="/addPage">Add Page</a>
        </li>
        <li>
            <a href="/editPage">Edit Page</a>
        </li>
        <li>
            <a href="/logout">Log Out</a>
        </li>
    </ul>
</nav>
